.App {
    text-align: center;
    background-color: aliceblue;
}

.btn,
.form-select,
.form-select:active,
.form-select:focus,
.form-select:focus:active,
.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
    /* background-color: var(--form-box) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: var(--txt); */
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.o-55 {
    opacity: 0.55;
}

.w-cart-container {
    width: 100%;
    max-width: 500px;
    padding: 0 2%;
}

.w-fit-content {
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}
